<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Favresume generator for Developers">
    <meta name="keywords" content="Tech job,developers resume,best resume app,favcode54,favresume">
    <meta name="theme-color" content="#DD2476">
            <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#DD2476">
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="#DD2476">
    <title>FavCode54</title>
</head>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css" />

<link rel="stylesheet" type="text/css" href="init.css">

<body>

<nav class="white">
    <div class="nav-wrapper">

        <a href="/" class="brand-logo"><img src="https://favcode54.org/images/favcode54-logo.png" class="logo responsive-img"/></a>
    </div>
</nav>




<div class="fixed-action-btn">
     <a class="btn-floating btn-large blue pulse">
    <i class="large material-icons">mode_edit</i>
  </a>
<ul>
   
<li><a class="btn tooltipped btn-floating red" data-position="left" data-tooltip="Download" id="generate"><i class="material-icons">publish</i></a></li>
                   
<li><a class="btn tooltipped btn-floating yellow darken-1" data-position="left" data-tooltip="Reset" id="reset"><i class="material-icons">refresh</i></a></li>  
  
  <li><a class="btn tooltipped btn-floating blue" data-position="left" data-tooltip="Clear" id="clear"><i class="material-icons">remove_circle_outline
</i></a></li>      
</div>
<div id="theme">
    <span class="theme-label"><i>theme</i></span>
    <div id="theme-title">
        monokai
    </div>
</div>
<div id="theme-pane">
    <div class="diff-theme" id="light">
        <div class="color-theme">light themes</div>
    </div>
    <div class="diff-theme" id="dark">
        <div class="color-theme">dark themes</div>
    </div>
</div>
<div id="option">
    <div id="option-icon">
        <svg version="1.1" id="option-icon-x" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <g>
                <g>
                    <g>
                        <circle cx="256" cy="256" r="64"/>
                        <circle cx="256" cy="448" r="64"/>
                        <circle cx="256" cy="64" r="64"/>
                    </g>
                </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
        </svg>
    </div>
    <div id="option-pane">
        <div class="template">
            <div class="template-label">
                select document
            </div>
        </div>
        <div class="template temp-for-doc">
            <span class="doc" id="word">
                <center>
                    <svg version="1.1" id="docx-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <g>
                    <path style="fill:#1565C0;" d="M294.656,13.014c-2.531-2.056-5.863-2.842-9.045-2.133l-277.333,64
                        C3.397,76.003-0.047,80.369,0,85.377v362.667c0.002,5.263,3.843,9.739,9.045,10.539l277.333,42.667
                        c5.823,0.895,11.269-3.099,12.164-8.921c0.082-0.535,0.124-1.076,0.124-1.617V21.377C298.676,18.124,297.199,15.045,294.656,13.014
                        z"/>
                    <path style="fill:#1565C0;" d="M501.334,458.71H288c-5.891,0-10.667-4.776-10.667-10.667c0-5.891,4.776-10.667,10.667-10.667
                        h202.667V74.71H288c-5.891,0-10.667-4.776-10.667-10.667S282.109,53.377,288,53.377h213.333c5.891,0,10.667,4.776,10.667,10.667
                        v384C512,453.935,507.225,458.71,501.334,458.71z"/>
                </g>
                <path style="fill:#FAFAFA;" d="M181.334,352.044c-4.753-0.005-8.928-3.155-10.24-7.723L138.667,230.87L106.24,344.321
                    c-2.342,5.661-8.83,8.352-14.492,6.01c-2.722-1.126-4.884-3.288-6.01-6.01L43.072,194.988c-1.786-5.614,1.318-11.612,6.932-13.398
                    c5.614-1.786,11.612,1.318,13.398,6.932c0.063,0.198,0.12,0.398,0.172,0.599L96,302.55L128.427,189.1
                    c2.342-5.661,8.83-8.352,14.492-6.01c2.722,1.126,4.884,3.288,6.01,6.01l32.405,113.451l32.427-113.429
                    c1.535-5.614,7.331-8.921,12.945-7.386c0.08,0.022,0.159,0.045,0.239,0.068c5.66,1.622,8.935,7.523,7.317,13.184l-42.667,149.333
                    C190.281,348.897,186.094,352.048,181.334,352.044z"/>
                <g>
                    <path style="fill:#1565C0;" d="M458.667,138.71H288c-5.891,0-10.667-4.776-10.667-10.667c0-5.891,4.776-10.667,10.667-10.667
                        h170.667c5.891,0,10.667,4.776,10.667,10.667C469.334,133.935,464.558,138.71,458.667,138.71z"/>
                    <path style="fill:#1565C0;" d="M458.667,202.71H288c-5.891,0-10.667-4.776-10.667-10.667s4.776-10.667,10.667-10.667h170.667
                        c5.891,0,10.667,4.776,10.667,10.667S464.558,202.71,458.667,202.71z"/>
                    <path style="fill:#1565C0;" d="M458.667,266.71H288c-5.891,0-10.667-4.776-10.667-10.667c0-5.891,4.776-10.667,10.667-10.667
                        h170.667c5.891,0,10.667,4.776,10.667,10.667C469.334,261.935,464.558,266.71,458.667,266.71z"/>
                    <path style="fill:#1565C0;" d="M458.667,330.71H288c-5.891,0-10.667-4.776-10.667-10.667c0-5.891,4.776-10.667,10.667-10.667
                        h170.667c5.891,0,10.667,4.776,10.667,10.667C469.334,325.935,464.558,330.71,458.667,330.71z"/>
                    <path style="fill:#1565C0;" d="M458.667,394.71H288c-5.891,0-10.667-4.776-10.667-10.667c0-5.891,4.776-10.667,10.667-10.667
                        h170.667c5.891,0,10.667,4.776,10.667,10.667C469.334,389.935,464.558,394.71,458.667,394.71z"/>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                </svg>
                </center>
            </span>
            <span class="doc select-doc" id="pdf">
                <center>
                        <svg version="1.1" id="pdf-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 37.622 37.622" style="enable-background:new 0 0 37.622 37.622;" xml:space="preserve">
                    <g>
                        <path style="fill:#FDFEFD;" d="M37.306,27.558c-1.339-2.418-7.203-3.958-12.381-4.25c-0.468-0.501-0.943-1.028-1.43-1.582
                            c-4.45-5.088-6.252-12.482-6.925-16.399c-0.08-0.83-0.168-1.52-0.242-2.034c-0.06-0.409-0.186-1.262-1.073-1.262
                            c-0.284,0-0.558,0.122-0.753,0.339c-0.316,0.361-0.269,0.749-0.213,1.197c0.063,0.514,0.158,1.202,0.293,1.987
                            c0.379,3.977,0.558,11.549-2.503,17.564c-0.319,0.627-0.637,1.229-0.953,1.803c-5.728,1.666-10.35,4.637-11.027,7.101
                            c-0.245,0.892-0.032,1.747,0.601,2.409c0.737,0.77,1.607,1.16,2.586,1.16c2.71,0,5.799-3.018,9.181-8.967
                            c1.506-0.396,3.001-0.672,4.446-0.818c0.563-0.057,1.474-0.176,2.034-0.262c1.543-0.238,3.289-0.334,5.083-0.275
                            c4.152,4.316,7.547,6.504,10.091,6.504c1.366-0.001,2.497-0.667,3.183-1.875C37.726,29.15,37.728,28.318,37.306,27.558z
                            M3.285,33.591c-0.424,0-0.786-0.172-1.141-0.543c-0.145-0.151-0.177-0.281-0.117-0.495c0.349-1.269,3.281-3.444,7.566-5.023
                            C7.172,31.35,4.855,33.591,3.285,33.591z M18.64,23.57c-0.532,0.082-1.396,0.194-1.93,0.25c-0.971,0.096-1.969,0.249-2.976,0.455
                            c0.042-0.082,0.084-0.165,0.126-0.248c1.501-2.949,2.431-6.485,2.775-10.538c1.377,3.854,3.173,7.06,5.354,9.554
                            c0.064,0.074,0.131,0.149,0.195,0.225C20.925,23.298,19.737,23.401,18.64,23.57z M35.56,28.916
                            c-0.332,0.588-0.804,0.861-1.481,0.861h-0.001c-1.59,0-4.035-1.505-6.962-4.265c4.53,0.569,7.847,1.94,8.442,3.015
                            C35.644,28.683,35.644,28.766,35.56,28.916z"/>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    </svg>
                </center>
            </span>
        </div>
        <div class="template">
            <div class="template-label">
                select resume template
            </div>
        </div>
        <div class="template-engine">
            <img src="/images/template_1.png" class="x-eng select-template" id="temp-1" />
            <img src="/images/template_2.png" class="x-eng" id="temp-2"/>
            <img src="/images/template_3.png" class="x-eng" id="temp-3"/>
        </div>
    </div>
</div>
<div id="blocker"></div>
<div class="tut" id="tut1">
    <div class="tut-num">
        <div class="tut-num-left">
            <div class="in-num">1</div>
        </div>
        <div class="tut-num-left">
            <svg version="1.1" id="tut-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <g>
                <g>
                    <path d="M508.875,248.458l-160-160c-3.063-3.042-7.615-3.969-11.625-2.313c-3.99,1.646-6.583,5.542-6.583,9.854v21.333
                        c0,2.833,1.125,5.542,3.125,7.542l109.792,109.792H10.667C4.771,234.667,0,239.437,0,245.333v21.333
                        c0,5.896,4.771,10.667,10.667,10.667h432.917L333.792,387.125c-2,2-3.125,4.708-3.125,7.542V416c0,4.313,2.594,8.208,6.583,9.854
                        c1.323,0.552,2.708,0.813,4.083,0.813c2.771,0,5.5-1.083,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z"
                        />
                </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            </svg>
        </div>
    </div>
    <div class="tut-body">
        Customizable Text Editor
    </div>
</div>
<div class="tut" id="tut2">
    <div class="tut-num">
        <div class="tut-num-left">
            <div class="in-num">2</div>
        </div>
        <div class="tut-num-left">
            <svg version="1.1" id="tut-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <g>
                <g>
                    <path d="M508.875,248.458l-160-160c-3.063-3.042-7.615-3.969-11.625-2.313c-3.99,1.646-6.583,5.542-6.583,9.854v21.333
                        c0,2.833,1.125,5.542,3.125,7.542l109.792,109.792H10.667C4.771,234.667,0,239.437,0,245.333v21.333
                        c0,5.896,4.771,10.667,10.667,10.667h432.917L333.792,387.125c-2,2-3.125,4.708-3.125,7.542V416c0,4.313,2.594,8.208,6.583,9.854
                        c1.323,0.552,2.708,0.813,4.083,0.813c2.771,0,5.5-1.083,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z"
                        />
                </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            </svg>
        </div>
    </div>
    <div class="tut-body">
        Select a document type
    </div>
</div>
<div class="tut" id="tut3">
    <div class="tut-num">
        <div class="tut-num-left">
            <div class="in-num">3</div>
        </div>
        <div class="tut-num-left">
            <svg version="1.1" id="tut-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <g>
                <g>
                    <path d="M508.875,248.458l-160-160c-3.063-3.042-7.615-3.969-11.625-2.313c-3.99,1.646-6.583,5.542-6.583,9.854v21.333
                        c0,2.833,1.125,5.542,3.125,7.542l109.792,109.792H10.667C4.771,234.667,0,239.437,0,245.333v21.333
                        c0,5.896,4.771,10.667,10.667,10.667h432.917L333.792,387.125c-2,2-3.125,4.708-3.125,7.542V416c0,4.313,2.594,8.208,6.583,9.854
                        c1.323,0.552,2.708,0.813,4.083,0.813c2.771,0,5.5-1.083,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z"
                        />
                </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            </svg>
        </div>
    </div>
    <div class="tut-body">
        Pick Resume template
    </div>
</div>
<div class="tut" id="tut4">
    <div class="tut-num">
        <div class="tut-num-left">
            <div class="in-num">4</div>
        </div>
        <div class="tut-num-left">
            <svg version="1.1" id="tut-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <g>
                <g>
                    <path d="M508.875,248.458l-160-160c-3.063-3.042-7.615-3.969-11.625-2.313c-3.99,1.646-6.583,5.542-6.583,9.854v21.333
                        c0,2.833,1.125,5.542,3.125,7.542l109.792,109.792H10.667C4.771,234.667,0,239.437,0,245.333v21.333
                        c0,5.896,4.771,10.667,10.667,10.667h432.917L333.792,387.125c-2,2-3.125,4.708-3.125,7.542V416c0,4.313,2.594,8.208,6.583,9.854
                        c1.323,0.552,2.708,0.813,4.083,0.813c2.771,0,5.5-1.083,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z"
                        />
                </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            </svg>
        </div>
    </div>
    <div class="tut-body">
        Change Editor Theme
    </div>
</div>
<div class="tut" id="tut5">
    <div class="tut-num">
        <div class="tut-num-left">
            <div class="in-num">5</div>
        </div>
    </div>
    <div class="tut-body">
        Generate Resume 🔥🔥🔥
    </div>
</div>
<div id="divider"></div>
<div id="editor" class="uk-card uk-width-1-1 uk-card-default uk-card-body" name="json"></div>
<a id="download_link" href="#" target="_blank" style="display:none"></a>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script type="text/javascript" src="init.js"></script>
<script src="/assets/js/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
   

       

document.addEventListener("DOMContentLoaded", function () {

    var editor = ace.edit("editor");
    let currentTheme = 'monokai';
    let themeStorage = localStorage.getItem('theme');
    if (themeStorage != null) {
        currentTheme = themeStorage;
    }
    let showTheme = false;
    themeHandler(currentTheme);
    editor.setTheme(`ace/theme/${currentTheme}`);
    editor.session.setMode("ace/mode/json"); 
    let docType = 'pdf';
    let resumeTemplate = "1";
    var sample = ` {
        "firstname": "Favour",
        "lastname": "Ori",
        "contact": {
            "email": "favourdemo@gmail.com",
            "phone": "(870) 949-0000",
            "website": "www.favourori.github.io",
            "linkedin": "linkedin.com/in/favourori/",
            "github": "github.com/orifavour"
        },
        "skills": {
            "details": [
                {
                    "type": "Programming Languages",
                    "items": [
                        "Java",
                        "Swift",
                        "Python",
                        "Javascript",
                        "PHP",
                        "Ruby",
                        "Rails"
                    ]
                },
                {
                    "type": "Web Frameworks",
                    "items": [
                        "Bootstrap",
                        "Materialize",
                        "Rails"
                    ]
                },
                {
                    "type": "Databases",
                    "items": [
                        "MySQL",
                        "SQLite"
                    ]
                },
                {
                    "type": "Tools",
                    "items": [
                        "Git",
                        "Sketch",
                        "Github",
                        "Craft by Invision",
                        "Andriod Studio",
                        "Xcode"
                    ]
                },
                {
                    "type": "Interests",
                    "items": [
                        "Software Development",
                        "Web Development",
                        "Machine Learning",
                        "Internet of Things"
                    ]
                }
            ]
        },
        "github_projects": {
            "items": [
                {
                    "project_name": "Bethel Church (App Backend)",
                    "tagline": "[iOS App Admin](https://github.com/orifavour/BethelChurchiOSAppBackend)",
                    "description": [
                        "Desktop App (developed in Java) for managing & controlling the content of Bethel's Mobile App"
                    ],
                    "technology_used": {
                        "tools": [
                            "Java",
                            "PHP",
                            "MySQL"
                        ]
                    }
                },
                {
                    "project_name": "SAU Honors College",
                    "tagline": "[iOS App ](https://github.com/orifavour/iOSHonorsCollege)",
                    "description": [
                        "iOS App designed for SAU Honors College  to improve the mobile experience of students, faculty, and friends of the college."
                    ],
                    "technology_used": {
                        "tools": [
                            "Swift",
                            "Xcode"
                        ]
                    }
                }
            ]
        },
        "other_projects": {
            "items": [
                {
                    "headline": "iOS App – Bethel Church, Magnolia",
                    "points": [
                        "Designed an iOS app for Bethel Church, to reduce printing of bulletins, and to let members have direct access to podcasts, upcoming events etc."
                    ],
                    "technology_used": {
                        "tools": [
                            "Swift",
                            "MySQL",
                            "PHP"
                        ]
                    }
                },
                {
                    "headline": "Course Selector – Computer Science Dept. SAU",
                    "points": [
                        "Web App for seamless course selection and registration"
                    ],
                    "technology_used": {
                        "tools": [
                            "HTML5",
                            "CSS3",
                            "PHP",
                            "MySQL"
                        ]
                    }
                }
            ]
        },
        "work_experience": {
            "items": [
                {
                    "title": "Software Developer",
                    "organisation": "Southern Arkansas University",
                    "location": "Magnolia, AR",
                    "from": "January 2017",
                    "to": "Present",
                    "details": [
                        "Working closely with my professors on various researches & projects"
                    ],
                    "technology_used": {
                        "tools": [
                            "Xcode",
                            "Swift",
                            "Java",
                            "HTML5",
                            "CSS3",
                            "PHP"
                        ]
                    }
                }
            ]
        },
        "involvement": {
            "organizations": [
                "Volunteer, Magnolia Blossom, OCT 2016"
            ]
        },
        "education": {
            "schools": [
                {
                    "degree": "Bachelor of Science",
                    "major": "Computer Science",
                    "institution": "Southern Arkansas University",
                    "graduation_year": 2020
                }
            ]
        },
        "research_experience": {
            "items": [
                {
                    "title": "Web Hacking",
                    "organisation": "National Collegiate Honors Council",
                    "from": "February 2017",
                    "to": "April 2017",
                    "points": [
                        "Implemented encryption methods (MD5 and SHA-1)to secure a previously unsecure Web App"
                    ]
                }
            ]
        }
    }
`;
    //Getting from localstorage
    var jsonString = localStorage.getItem("resumeObject");

    if (!isEmpty(JSON.parse(jsonString))) {
        editor.setValue(jsonString);
    } else {
        editor.setValue(sample);
    }
    editor.focus();
    /*
        Add event listener
        editor.getSession().on('change',event => {
            console.log(event);
            console.log(editor.getSession().getValue());
        });
    */

    let lightTheme = ["xcode", "chrome","cloud", "tomorrow", "textmate", "sqlserver", "solarized_light", "kuroir","katzenmilch","iplastic","github","eclipse","dreamweaver","dawn","crimson_editor"];
    let darkTheme =  ["twilight","ambiance","monokai","solarized_dark","terminal", "pastel_on_dark","kr_theme","mono_industrial","merbivore","gob","gruvbox","idle_fingers", "merbivore_soft","dracula","cobalt", "nord_dark","tomorrow_night","tomorrow_night_eighties","tomorrow_night_blue","tomorrow_night_bright", "chaos", "vibrant_ink", "clouds_midnight"];

    let theme = (div, arr) => {
        arr.forEach(key => {
            $(div).
                append(`<div class="theme-list theme-list-${key}">${key}</div>`);
            $('<script>')
                .attr('type','text/javascript')
                .html(`$(".theme-list-${key}").click((event)=>{ 
                    event.stopPropagation();
                    $('#theme-title').text('${key}');
                    let x = ace.edit("editor");
                    x.setTheme("ace/theme/${key}");
                    localStorage.setItem('theme','${key}');
                })`)
                .appendTo(`.theme-list-${key}`)
        });   
    }

    theme('#light', lightTheme);
    theme('#dark', darkTheme);

    
    templateAndDocumentHandler();
    appTutorialHandler();

    function appTutorialHandler() {
        let user = localStorage.getItem('appTuts');
        if(user == null) {
            $('#blocker').css('display','block');
            $('#blocker').click((event) => {
                event.stopPropagation();
            });
            $('#tut1').css('display','block');
            $('#tut1').click((event)=> {
                event.stopPropagation();
                $('#tut1').fadeOut(1000);
                $('#option-pane').animate({
                    width: '40vh'
                }, () => {
                    $('#tut2').fadeIn(1000);
                    $('#tut2').click((event)=> {
                        event.stopPropagation();
                        $('#tut2').fadeOut(1000);
                        $('#tut3').fadeIn(1000);
                        $('#tut3').click((event)=> {
                            event.stopPropagation();
                            $('#tut3').fadeOut(1000);
                            $('#tut4').fadeIn(1000);
                             $('#option-pane').animate({
                                 width: 0
                             }, () => {
                                 $("#tut4").click(event => {
                                     $('#tut4').fadeOut(1000);
                                     $('#tut5').fadeIn(1000);
                                     $('#tut5').click((event)=> {
                                         event.stopPropagation();
                                         $('#tut5').fadeOut(1000, () => {
                                             $('#blocker').css('display','none');
                                             localStorage.setItem('appTuts','done');
                                             editor.focus();
                                         });
                                     });
                                });
                             });
                        })
                    });
                });
            });
        }
    }

    function isEmpty(obj) {
        for(var key in obj) {
            if(obj.hasOwnProperty(key))
                return false;
        }
        return true;
    }

    function templateAndDocumentHandler() {
        $('#option').click(event=> {
            event.stopPropagation();
        })
        $('#option-icon-x').click(() => {
            if ($('#option-pane').width() == 0) {
                $('#option-pane').animate({
                    width: '40vh'
                });
                $('#temp-1').trigger('focus');
            } else {
                $('#option-pane').animate({
                    width: 0
                })
            }
        });
        documentHandler();
        templateHandler();
    }

    function documentHandler () {
        $('#word').click(() => {
            $('#pdf').removeClass('select-doc');
            $('#word').addClass('select-doc');
            docType = "docx";
        });
        $('#pdf').click(() => {
            $('#word').removeClass('select-doc');
            $('#pdf').addClass('select-doc');
            docType = "pdf";
        });
    }

    function templateHandler () {
        $('#temp-1').click(() => {
            if (resumeTemplate != 1) {
                $('.x-eng').removeClass('select-template');
                $("#temp-1").addClass('select-template');
                resumeTemplate  = "1";
            }
        });
        $('#temp-2').click(() => {
            if (resumeTemplate != 2) {
                $('.x-eng').removeClass('select-template');
                $("#temp-2").addClass('select-template');
                resumeTemplate  = "2";
            }
        });
        $('#temp-3').click(() => {
            if (resumeTemplate != 3) {
                $('.x-eng').removeClass('select-template');
                $("#temp-3").addClass('select-template');
                resumeTemplate  = "3";
                let x;
                if (!isEmpty(JSON.parse(jsonString))) {
                    x = jsonString;
                } else {
                    x = sample;
                }
                //Add image, description and occupation key to the top of the resume object
                x = x.replace('{', `{
                    "image": "http://localhost:3000/images/client.png", 
                    "description": "I love science fiction, I am a programmer who get things done the right way",
                    "occupation": "Software Developer",
                `);
                editor.setValue(JSON.stringify(JSON.parse(x),undefined,4));
            }
        });
    }
  
    function themeHandler(them) {
        $('#theme-title').text(`${them}`);
        $('#theme-title').click((event) => {
            event.stopPropagation();
            showTheme = !showTheme;
            $('#theme-pane').toggle(1000);
        });
    }

   function screen_resize() {
    var h = parseInt(window.innerHeight);
    var w = parseInt(window.innerWidth);
    
    desktop = $('.desktop a');
    mobile = $('.mobile a');
        

    if(w <= 600) {
        // set all data-id as id in all links ('a' elements) on mobile
        $.each(mobile, function (index, item) {
            id_val = $(item).data('id');
            $(item).attr('id',id_val);
            //console.log(id_val);
        });
        
        // remove all data-id as id in all links ('a' elements) on desktop
        $.each(desktop, function (index, item) {
            $(item).removeAttr('id');
        });

        console.log('Resized window to mobile.');
    } else {
        // set all data-id as id in all links ('a' elements) on desktop
        $.each(desktop, function (index, item) {
            id_val = $(item).data('id');
            $(item).attr('id', id_val);
        });

        // remove all data-id as id in all links ('a' elements) on mobile
        $.each(mobile, function (index, item) {
            $(item).removeAttr('id');
        });
        
        console.log('Resized window to desktop.');
    }
    
    // Var Declaration 
    var form = document.getElementById('json_form');
    var container = document.getElementById('page-wrap');
    var reset = document.getElementById('reset');
    var clear = document.getElementById('clear');
    var generate = document.getElementById('generate');

    // Event Listener
    reset.addEventListener('click', handleReset);
    clear.addEventListener('click', handleClear);
    generate.addEventListener('click', handleSubmit);

}
    // if window resize call responsive function
    $(window).resize(function(e) {
        screen_resize();
    });

    $(window).click(() => {
        $('#theme-pane').hide(1000);
        $('#option-pane').animate({
            width: 0
        })
    });

    screen_resize();




    function handleReset (e){
        e.preventDefault();
        editor.setValue(sample); 
        $('#temp-1').trigger('click');
        $('#pdf').trigger('click');
    }
    function handleClear(e) {
        e.preventDefault();
        editor.setValue("");
    }


    function handleSubmit(e) {
        e.preventDefault();
        //det data from editor
        json = editor.getValue();
        json = tryParseJSON(json);



        if (json) {
            data = json;
            json.type = docType;
            json.template = resumeTemplate;
            
            //send to serve
            const options = {
                method: "POST",
                body: JSON.stringify(json),
                headers: new Headers({
                'Accept': 'application/json',
                    "Content-Type": "application/json"
                })
            };

            var temp = generate.innerHTML;
            console.log('generating...');

            fetch("/generate", options)
                 .then((response) => response.json())
                .then((response) => {
                    if(response.filename) {

                      generate.innerHTML = "Generated";

                    }else {
                        
                        generate.innerHTML = "something went wrong";

                    }
                    window.document.location.href = response.filename;
                  generate.innerHTML = temp;
                    console.log('generated');
                    //Save data to local storage for easy retrieval
                    delete data.type;
                    delete data.template;
                    localStorage.setItem("resumeObject", JSON.stringify(data,undefined,4));
                    console.log(data);
                })
                .catch((err) => console.log(err));

           
        }
        else {

        }


    }


      function tryParseJSON(jsonString) {
          console.log('Parsed JSON Object Successfully.')
        try {
            var json = JSON.parse(jsonString);
            if (json && typeof json === "object") {
                return json;
            }
        }
        catch (e) { }

        return false;
    };

      //function for screen resize

});

 


</script>

</html>
