
    *{
        padding:0;
        margin: 0;
    }



        .container {
            background-color: rgba(255, 255, 255, 0.5);
            display: flex;
            justify-content: center;
            justify-items: center;
            align-items: center;
            position: relative;
        }

        #editor {
            position: relative;
           
            height: 80vh;
        }

        .form-wrapper {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .button {
            padding: 10px 55px;
            margin-top: 10px;
            background: black;
            border: none;
            color: white;
            cursor: pointer;
        }

    .sidebar{
        width: 360px;
        background-color: white;
        border-radius: 0 10px 0 10px;
        border: solid 1px;
        box-shadow: 1px 1px 2px red;
    }

    .logo{
     max-height: 1.7em;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    margin-right: 0.6em;
    margin-left: 0.8em;
    max-width: none;
    }

    #divider{
        height:0.2em;
    }

    .title {
        font-size: 2em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .ash{
        background-color:#C5C6CA;
    }

    .block-inline{
    display:inline-block;
    margin-right:4.1rem;
}

.top{
    margin-top:20rem;
}

.btn-core{
    padding-left:10rem;
}

#rent-btn{
    background-color: #00ADEF;
     width: 10rem !important;
}

#reg-btn{
     background-color: #0062AB;
     width: 10rem !important;
}

.carousel{
    height:600px !important;
}

.responsive-imgx{
    max-width: 100%;
    height: auto;
    margin-top: 5rem;
}

.responsive-videox{
    max-width: 100%;
    height: auto;
    margin-top: 5rem;
}

ol li{
    margin-bottom: 1.1rem;
}
.determinate{
    width:20%;
}
#theme {
    position: fixed;
    bottom: 0px;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
#theme-title {
    border-width: 2px;
    border-radius: 4px;
    border: solid dodgerblue;
    color: dodgerblue;
    font-size: 12px;
    border-width: 1px 1px;
    text-align: center;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}
#theme-title:hover {
    border-color: slategray;
    color: slategray;
}
#theme-pane {
    position: fixed;
    font-size: 13px;
    width: 150px;
    height: 150px;
    z-index: 100;
    bottom: 40px;
    margin-left: 20px;
    border-radius: 5px;
    padding-top: 5px;
    background-color: rgb(218, 211, 211);
    overflow: auto;
    scrollbar-width: none;
    display: none;
}
.theme-label {
    font-size: 10px;
}
.color-theme {
    font-style: italic;
    width: 100%;
    font-size: 10px;
    background-color: rgb(170, 167, 165);
    text-align: right;
}
.theme-list {
    padding-left: 5px;
    font-weight: lighter;
    cursor: pointer;
}
.theme-list:hover {
    background-color: rgb(99, 117, 117);
    color: white;
}
#option {
    position: fixed;
    right: 0px;
    top: 15%;
    display: flex;
    z-index: 1000;
    flex-direction: row;
}
#option-icon {
    cursor: pointer;
    position: relative;
    top: 155px;
}
#option-icon-x {
    width:30px;
    height: 30px;
    cursor: pointer;
    fill: silver;
}
#option-pane {
    width: 0vh;
    height: 60vh;
    background-color: red;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #aff6cf;
background-image: linear-gradient(315deg, #aff6cf 0%, #9f98e8 74%);
}
.template {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.template-label {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    margin-left: 4px;
    font-style: italic;
}
.doc {
    padding: 5px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    margin: 2px;
}
.select-doc {
    background-color: rgba(96, 236, 31, 0.897);
}
#docx-icon {
    width: 30px;
    height: 30px;
    align-self: center;
}
#pdf-icon {
    width: 30px;
    height: 30px;
    align-self: center;
    fill: #FDFEFD;
}
.template-engine {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    overflow-x: scroll;
    margin-left: 10px;
}
.x-eng {
    width: 70%;
    height: 80%;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.select-template {
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
::-webkit-scrollbar {
    width: 2px;
}

@media only screen and (max-width: 600px) {
 
 .top{
    margin-top:3rem;
}

.block-inline{
    display:inline-block;
    margin-right:1.1rem;
}

.btn-core{
    padding-left:8rem !important;
}


}