
    *{
        padding:0;
        margin: 0;
    }



        .container {
            background-color: rgba(255, 255, 255, 0.5);
            display: flex;
            justify-content: center;
            justify-items: center;
            align-items: center;
            position: relative;
        }

        #editor {
            position: relative;
           
            height: 80vh;
        }

        .form-wrapper {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .button {
            padding: 10px 55px;
            margin-top: 10px;
            background: black;
            border: none;
            color: white;
            cursor: pointer;
        }

    .sidebar{
        width: 360px;
        background-color: white;
        border-radius: 0 10px 0 10px;
        border: solid 1px;
        box-shadow: 1px 1px 2px red;
    }

    .logo{
     max-height: 1.7em;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    margin-right: 0.6em;
    margin-left: 0.8em;
    max-width: none;
    }

    #divider{
        height:0.2em;
    }

    .title {
        font-size: 2em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .ash{
        background-color:#C5C6CA;
    }

    .block-inline{
    display:inline-block;
    margin-right:4.1rem;
}

.top{
    margin-top:20rem;
}

.btn-core{
    padding-left:10rem;
}

#rent-btn{
    background-color: #00ADEF;
     width: 10rem !important;
}

#reg-btn{
     background-color: #0062AB;
     width: 10rem !important;
}

.carousel{
    height:600px !important;
}

.responsive-imgx{
    max-width: 100%;
    height: auto;
    margin-top: 5rem;
}

.responsive-videox{
    max-width: 100%;
    height: auto;
    margin-top: 5rem;
}

ol li{
    margin-bottom: 1.1rem;
}
.determinate{
    width:20%;
}
#theme {
    position: fixed;
    bottom: 0px;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
#theme-title {
    border-width: 2px;
    border-radius: 4px;
    border: solid dodgerblue;
    color: dodgerblue;
    font-size: 12px;
    border-width: 1px 1px;
    text-align: center;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}
#theme-title:hover {
    border-color: slategray;
    color: slategray;
}
#theme-pane {
    position: fixed;
    font-size: 13px;
    width: 150px;
    height: 150px;
    z-index: 100;
    bottom: 40px;
    margin-left: 20px;
    border-radius: 5px;
    padding-top: 5px;
    background-color: rgb(218, 211, 211);
    overflow: auto;
    scrollbar-width: none;
    display: none;
}
.theme-label {
    font-size: 10px;
}
.color-theme {
    font-style: italic;
    width: 100%;
    font-size: 10px;
    background-color: rgb(170, 167, 165);
    text-align: right;
}
.theme-list {
    padding-left: 5px;
    font-weight: lighter;
    cursor: pointer;
}
.theme-list:hover {
    background-color: rgb(99, 117, 117);
    color: white;
}
#option {
    position: fixed;
    right: 0px;
    top: 15%;
    display: flex;
    z-index: 700;
    flex-direction: row;
}
#option-icon {
    cursor: pointer;
    position: relative;
    top: 155px;
}
#option-icon-x {
    width:30px;
    height: 30px;
    cursor: pointer;
    fill: silver;
}
#option-pane {
    width: 0;
    height: 60vh;
    background-color: red;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #aff6cf;
background-image: linear-gradient(315deg, #aff6cf 0%, #9f98e8 74%);
}
.template {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.template-label {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    margin-left: 4px;
    font-style: italic;
}
.doc {
    padding: 5px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    margin: 2px;
}
.select-doc {
    background-color: rgba(96, 236, 31, 0.897);
}
#docx-icon {
    width: 30px;
    height: 30px;
    align-self: center;
}
#pdf-icon {
    width: 30px;
    height: 30px;
    align-self: center;
    fill: #FDFEFD;
}
.template-engine {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    overflow-x: scroll;
    margin-left: 10px;
}
.x-eng {
    width: 70%;
    height: 80%;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.select-template {
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
::-webkit-scrollbar {
    width: 2px;
}

.tut {
    position: fixed;
    right: 0px;
    width: 40vh;
    height: 70px;
    border-radius: 10px;
    top: 15%;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
    display: none;
}
#tut1 {
    position: fixed;
    left: 10px;
}
#tut2 {
    position: fixed;
    right: 20%;
}
#tut3 {
    position: fixed;
    right: 20%;
    top: 38%;
}
#tut4 {
    position: fixed;
    left: 20px;
    top: 82%;
}
#tut5 {
    position: fixed;
    right: 10%;
    top: 82%;
}
.tut-body {
    height: 70%;
    font-size: 12px;
    font-weight: bold;
    padding: 20px;
    color: white;
    text-align: center;
    padding-top: 10px;
}
#tut-arrow {
    width: 20px;
    height: 20px;
    position: relative;
    top: -3px;
    fill: white;
    float: right;
    margin-right: 10px;
}
.tut-num {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 100%;
}
.tut-num-left {
    width: 50%;
    padding-left: 10px;
    padding-top: 10px;
}
.in-num {
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    color: white;
    border: solid 1px white;
}
#blocker {
    position: fixed;
    background-color: rgba(0,0,0,0.2);
    width: 1000vh;
    z-index: 1000;
    height: 1000vh;
    display: none;
}
#email-form-pane {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0px;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#email-form {
    position: relative;
    width: 50%;
    height: 70%;
    background-color: white;
    border-radius: 10px;
    left: 25%;
    top: 25%;
    padding: 20px;
}
.form, .form-submit{
    margin: 5px;
    font-size: 14px;
    color: slategray;
    font-weight: bolder;
}
.form-submit {
    text-align: center;
}
input {
    border: 0px solid black;
    font-size: 14px;
    font-weight: bold;
    color: lightblue;
}
textarea {
    height: 100px;
    padding: 20px;
    font-size: 14px;
    font-weight: 500;
    color: slategray;
}
.submit-and-g{
    text-align: center;
    background-color: yellow;
    color: slateblue;
    width: 100%;
    height: 50px;
    padding-top: 13px;
    position: relative;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
}
@media only screen and (max-width: 600px) {
    input {
        border: 0px solid black;
        font-size: 10px;
        font-weight: bold;
        color: lightblue;
    }
    textarea {
        height: 100px;
        padding: 20px;
        font-size: 14px;
        font-weight: lighter;
        color: slategray;
    }
    .form, .form-submit{
        margin: 3px;
        font-size: 10px;
        color: slategray;
        font-weight: bolder;
    }
    #email-form {
        position: relative;
        width: 70%;
        height: 70%;
        background-color: white;
        border-radius: 10px;
        left: 15%;
        top: 10%;
    }
    #tut2 {
        position: fixed;
        right: 37%;
    }
    .in-num {
        width: 15px;
        height: 15px;
        font-size: 9px;
        font-weight: bold;
        text-align: center;
        border-radius: 50%;
        color: white;
        border: solid 1px white;
    }
    .tut-body {
        height: 70%;
        font-size: 9px;
        font-weight: bold;
        padding: 10px;
        color: white;
        text-align: center;
        padding-top: 10px;
    }
    #tut-arrow {
        width: 15px;
        height: 15px;
        position: relative;
        top: -3px;
        fill: white;
        float: right;
        margin-right: 10px;
    }
    .tut {
        position: fixed;
        right: 0px;
        border-radius: 10px;
        top: 15%;
        z-index: 1000;
        background-color: rgba(0,0,0,0.5);
        cursor: pointer;
        display: none;
        width: 25vh;
        height: 50px;
        border-radius: 5px;
        top: 15%;
    }
 .top{
    margin-top:3rem;
}

.block-inline{
    display:inline-block;
    margin-right:1.1rem;
}

.btn-core{
    padding-left:8rem !important;
}


}